<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.dbmsapp.mapper.学习成绩Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.dbmsapp.entity.学习成绩">
        <result column="学号" property="学号" />
        <result column="课程编号" property="课程编号" />
        <result column="总评分" property="总评分" />
    </resultMap>

</mapper>
