<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.dbmsapp.mapper.毕业学分Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.dbmsapp.entity.毕业学分">
        <id column="课程类别" property="课程类别" />
        <result column="最低学分" property="最低学分" />
    </resultMap>

</mapper>
